body{
    background-color: hsl(275, 100%, 97%);
}
.header{
    background-image: url("assets/images/background-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 33vh;
  
}
.section{
    background-color: white;
    width: 40%;
    border-radius: 10px;
    padding: 30px;
    margin:0 auto;
    margin-top: -100px;
    /* position: relative;
    left: 25%;
    margin-top: -100px; */

}

.plus-icon:hover{
    
    cursor: cell;
}
p{
    text-align: justify;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: hsl(292, 16%, 49%);
    font-size: 16px;
    padding-left: 20px;
    
    
}
h4{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 20px;
   
}
.sec{
    border-bottom: 1px solid hsl(292, 16%, 49%,0.1);
    
}
h1{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;

}
@media  (max-width: 1440px){
    .section{
        
        width: 70%;
    }
}
@media  (max-width: 408px){
    .section{
        width: 70%;
    }
}
h4 img {
    float: right;
}
.close{
    display: none;
}
.open{
    display:block;
}